<div class="flex-container">
    <div class="container" fxHide="false" fxHide.sm fxHide.md fxHide.lg fxHide.xl>
        <h1>Mobile landing page</h1>
    </div>

    <div class="container" fxShow="false" fxShow.sm>
        <h1>Small Tab landing page</h1>
    </div>

    <div class="container" fxShow="false" fxShow.md>
        <h1>Large Tab landing page</h1>
    </div>

    <div class="container" fxShow="false" fxShow.lg>
        <h1>Laptop landing page</h1>
    </div>

    <div class="container" fxShow="false" fxShow.xl>
        <h1>Desktop landing page</h1>
    </div>
</div>