<section>
    <!-- Post Details images/squares.gif-->
    <div class="container-fluid m50">
        <div class="card-container">
            <div class="row full-width">
                <div class="col-md-12">
                    <div class="p404 text-xs-center">
                        <img class="img-fluid rounded mx-auto d-block"  src="images/p404-icon.png" alt="Page not found">
                        <h2>OOPS!<br>
                            Page Not Found</h2>
                        <strong>The Page you are looking for is not here</strong>
                    </div>
                </div>
                <div class="col-md-12 m20">
                    <button md-raised-button color="primary" [routerLink]="['/']">Back To Home</button>
                </div>
            </div>
        </div>
    </div>
</section>